


<script>
// vim: ts=3

var VENOP = {};

VENOP.columns = [];

VENOP.macroid = "AKfycbzJr35O5Qk4nGoJvOiJiWSTFthl_prMukYMADzLgMfQKEGv3ULLDVi4sK9XeRsiviYt";
VENOP.metadataUrl = `https://script.google.com/macros/s/${VENOP.macroid}/exec?gid=1417146289`;
VENOP.siglaUrl = `https://script.google.com/macros/s/${VENOP.macroid}/exec?gid=888914412`;

// Preload sigla data, download updated data later:
let SIGLADATA = {% include data/sigla.json %};
console.log("sigladata", SIGLADATA);
storeSiglaData(SIGLADATA);

// Preload main metadata, download updated metadata later:
let METADATA = {% include data/main.json %};
storeMetadata(METADATA);

console.log("VENOP", VENOP);

document.addEventListener("DOMContentLoaded", function () {
	initializeWebpage();

	fetch(VENOP.siglaUrl)
	.then(responseSigla => {
		if (!responseSigla.ok) {
			throw new Error(`Failed to fetch from ${VENOP.siglaUrl}: ${responseSigla.statusText}`);
		}
		return responseSigla.json();
	})
	.then(dataSigla => {
		storeSiglaData(dataSigla);
      return fetch(VENOP.metadataUrl);
	})
	.then(responseMetadata => {
		if (!responseMetadata.ok) {
			throw new Error(`Failed to fetch from ${VENOP.metadataUrl}: ${responseMetadata.statusText}`);
		}
		return responseMetadata.json();
	})
	.then(dataMetadata => {
		storeMetadata(dataMetadata);
		console.warn("LOADED DATA FROM SPREADSHEET");
		// Initialize a second time with the most recent data:
      initializeWebpage();
    })
    .catch(error => {
      console.error('Error fetching JSON data:', error);
    });
});



//////////////////////////////
//
// DOMContentLoaded event listener -- Table slider setup.
//

document.addEventListener("DOMContentLoaded", function () {
	const tableContainer = document.querySelector('.table-container');
	const scrollbar = document.querySelector('.scrollbar');
	const fakeScroll = document.querySelector('.fake-scroll');

	// Set the fake scroll width to match the table's width
	fakeScroll.style.width = tableContainer.scrollWidth + 'px';

	// Sync the scrollbar with the table
		scrollbar.addEventListener('scroll', () => {
		tableContainer.scrollLeft = scrollbar.scrollLeft;
	});

	tableContainer.addEventListener('scroll', () => {
		scrollbar.scrollLeft = tableContainer.scrollLeft;
	});
});


</script>



